---
import Layout from "../layouts/Layout.astro";
import Button from "../components/Button.astro";
---

<Layout title="FECITT 2025">
  <h1>Feria internacional de ITESO</h1>
  <Button role="primary">Primario</Button>
  <Button role="secondary">Secundario</Button>
  <Button role="tertiary">Terciario</Button>
  <Button role="danger">Peligro</Button>
  <div>
    <h2 class="text-white">Probando Tailwind</h2>
  </div>
</Layout>
